
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/_LoggedInUser.cshtml";
}

<div class="container text-left">
    <div class="row">
        <h3>AboutUs</h3>
        <p>Shared Accommodation System (SAS) is a user-friendly platform/portal which uses shared economy concept to provide a secure and cheap accommodation to students and staff members visiting Lexington campus through a feature called “ROOM WROOM”.</p>
        <p>When a visiting students/staff book’s an room and wishes to share/rent the same, they would request sharing on our SAS portal. SAS administrators would verify the details of the requester and put an advertisement for the same on the SAS portal. Other visiting Student students/staff liking advertizement would apply for this shared accommodation and in case the details of the applicant looks appropriate SAS administrator would facilitate the communication between both the parties.</p>
    </div>
</div>
