@model StudentAccommodationSystem.Models.User

@{
    ViewBag.Title = "Registration Success";
}
<div class="container text-center">
    <h2>Thanks You!!</h2>
    <h4>Administrator will send you an activation e-mail soon on your Student Email Accont</h4>
</div>


